<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="news"></ion-back-button>
    </ion-buttons>
    <ion-title>pages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cont">
  <h1>News Header</h1>
  <p class="para">Items containing an input will highlight the bottom border of the input with a different color when focused, valid, or invalid. By default, md items have a highlight with a height set to 2px and ios has no highlight (technically the height is set to 0). The height can be changed using the --highlight-height CSS property.
    To turn off the highlight, set this variable to 0. For more information on setting CSS properties, see the theming documentation.</p>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/icon/pic.jpg">
      </ion-avatar>
      <p>
        Items containing an input will highlight the bottom border of the input with a different color when focused, valid, or invalid. 
    </p>
    </ion-item>

    <ion-item>
      <ion-avatar slot="end">
        <img src="/assets/icon/pic.jpg">
      </ion-avatar>
      <p>
        Items containing an input will highlight the bottom border of the input with a different color when focused, valid, or invalid. 
    </p>
    </ion-item>
  </ion-list>
</ion-content>
