<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="#"></ion-back-button>
        </ion-buttons>
    <ion-title>searchbar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor = "let item of items">
      <ion-label>
        {{ item }}
      </ion-label>
    </ion-item>
    <ion-item>apple</ion-item>
    <ion-item>android</ion-item>
    <ion-item>bat</ion-item>
    <ion-item>ballon</ion-item>
    <ion-item>my phone</ion-item>
    <ion-item>123</ion-item>
    <ion-item>145</ion-item>
    <ion-item>456</ion-item>
    <ion-item>478</ion-item>
    <ion-item>call</ion-item>
    <ion-item>cell</ion-item>
    <ion-item>done</ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col size=6>
        <ion-img (click)="me()" src="/assets/icon/cover.jpeg"></ion-img>
      </ion-col>
      <ion-col size=6>
        <ion-img src="/assets/icon/pic.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col size=6>
      <ion-img src="/assets/icon/pic.jpg"></ion-img>
    </ion-col>
    <ion-col size=6>
      <ion-img src="/assets/icon/cover.jpeg"></ion-img>
    </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>
