.btt{
    text-align: center;
    padding-left: 20px; 
    padding-right: 20px;
}

.lab{
    background-color: lightgray;
    padding-left: 20px;
    color:black;
}
.cad{
    background-color: lightgray;
    padding-left: 20px;
    color: black;
}