<ion-header>
  <ion-toolbar color="success">
  <ion-buttons slot="start">
  <ion-back-button defaultHref="myexpenses"></ion-back-button>
  </ion-buttons>
  <ion-title>finn-view</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-button class="btt" expand="block">Remove this?</ion-button>
<!-- <p class="bttn">Remove this?</p> -->

<!-- <ion-list>
<ion-item-group>
  <ion-item-divider class="lab">
  <ion-label >Pubication Name</ion-label>
</ion-item-divider>
<ion-label>uyhr</ion-label>
</ion-item-group>
</ion-list> -->

<ion-card class="cad">
  <p>Publication Name</p>
</ion-card>
<ion-list>
    <ion-item>
    <ion-label>Select</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Publication-1</ion-select-option>
      <ion-select-option value="m">Publication-2</ion-select-option>
    </ion-select>
    </ion-item>
</ion-list>
</ion-content>
