.cont{
    padding: 10px;
}

ion-button{
    padding-left: 10px;
}

h2{
    font-size: 20px;
    padding: 10px;
    background-color: lightgoldenrodyellow;
}

.cont{
    background-color: rgb(30, 119, 119);
}

p{
    padding: 10px;
    border: 2px solid gray;
    
    border-radius: 5px;
}

ion-slide > img {
    height: 70%;
    width: 70%;
    margin: 36px 0;
}

.swiper-slide {
 display: block;
}

.ime > img{
    height: 250px;
    width: 250px;
}

.tran > p{
    background-color:lightcoral;
}
// .tran:hover{
//     height: 300px;
//     width: 300px;
//     color:rgb(129, 43, 43);
//     background-color:black;
// }



