<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
      <ion-back-button defaultHref="myexpenses"></ion-back-button>
  </ion-buttons>
  <ion-title>benview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-grid class="grd">
    <ion-row>
      <ion-col>Details</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Name:</ion-col><hr>
      <ion-col size="8">Benn</ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">Email:</ion-col>
        <ion-col size="8">djhguih@gjn</ion-col>
      </ion-row>
    <ion-row>
      <ion-col size="4">Phone:</ion-col>
      <ion-col size="8">123485698</ion-col>
    </ion-row>
  </ion-grid><br>

<ion-list class="deta">
  <ion-item>
    <ion-label>detaks</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      name
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      terst
    </ion-label>
  </ion-item>
</ion-list>
<br>

<table class="tab">
  
    <tr>
      <th>Details</th>
      <th></th>
    </tr>
  
    <tr>
      <td>Phone</td>
      <td>549844</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>gigjk@ghfghk</td>
    </tr>
    <tr>
      <td>address</td>
      <td>dr.no</td>
    </tr>
  
</table>


</ion-content>
